





.loginBlock {
     width:200px;
            height:200px;
            position: fixed;

            top: 50%;
            left: 50%;
            margin-top: -240px;
            margin-left: -100px;
}



/*.loginBlock a {*/
/*    color: white;*/
/*}*/

/*.registerBlock a {*/
/*    color: white;*/
/*}*/